# Assignment Data File
## mk07218 - Muhammad Khubaib
### Data Science HW 2

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv('NeedsWrangling.csv')

In [ ]:
data

,CustomerID,Firstname,Lastname,Address,City,State,Zip,Email
0,1,Billy,Davis,121 Main St,Prescott,AZ,86305,Bd@dma.net
1,2,Betty,Davis,121 Main Street,Prescott,AZ,86305,db2@dma.net
2,3,William,Franklin,120 Miller St,Prescott,AZ,86303,wf@dma.net
3,4,John,Smith,3331 Main St,prescott,az,86302,js@dma.net
4,5,Besty,Watson,121 Main,Prescott,Az,86305,bw@dma.net
5,6,Louis,Davis,121 Main Str,Prescott,az,8601,ld@dma.net
6,7,Oscar,Swane,333 Main St,Prescott,AZ,86302,os@dma.net
7,8,Allen,Lawson,555 Penelope,Prescott,AZ,86305,al@dma.net
8,1,Billy,Davis,121 Main St,Prescott,AZ,86305,Bd@dma.net
9,6,Louis,Davis,121 Main Str,Prescott,az,8601,ld@dma.net
10,11,Laurie,Wallace,1 Gatsby,Prescott,AZ,86305,lw@dma.net
11,12,William,Frank,5 West Smith,Prescutt,AZ,86305,wf@dma.net

In [ ]:
data.head()

,CustomerID,Firstname,Lastname,Address,City,State,Zip,Email
0,1,Billy,Davis,121 Main St,Prescott,AZ,86305,Bd@dma.net
1,2,Betty,Davis,121 Main Street,Prescott,AZ,86305,db2@dma.net
2,3,William,Franklin,120 Miller St,Prescott,AZ,86303,wf@dma.net
3,4,John,Smith,3331 Main St,prescott,az,86302,js@dma.net
4,5,Besty,Watson,121 Main,Prescott,Az,86305,bw@dma.net

In [ ]:
data.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8      True
9      True
10    False
11    False
dtype: bool

In [ ]:
data2 = data.drop_duplicates('CustomerID')

In [ ]:
data2

,CustomerID,Firstname,Lastname,Address,City,State,Zip,Email
0,1,Billy,Davis,121 Main St,Prescott,AZ,86305,Bd@dma.net
1,2,Betty,Davis,121 Main Street,Prescott,AZ,86305,db2@dma.net
2,3,William,Franklin,120 Miller St,Prescott,AZ,86303,wf@dma.net
3,4,John,Smith,3331 Main St,prescott,az,86302,js@dma.net
4,5,Besty,Watson,121 Main,Prescott,Az,86305,bw@dma.net
5,6,Louis,Davis,121 Main Str,Prescott,az,8601,ld@dma.net
6,7,Oscar,Swane,333 Main St,Prescott,AZ,86302,os@dma.net
7,8,Allen,Lawson,555 Penelope,Prescott,AZ,86305,al@dma.net
10,11,Laurie,Wallace,1 Gatsby,Prescott,AZ,86305,lw@dma.net
11,12,William,Frank,5 West Smith,Prescutt,AZ,86305,wf@dma.net

In [ ]:
data2['Length'] = data2['Firstname'].map(len)

C:\Users\zeeha\AppData\Local\Temp\ipykernel_26552\1050047626.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2['Length'] = data2['Firstname'].map(len)

In [ ]:
data2.loc[:,'Length'] = data2['Firstname'].map(len)

In [ ]:
data2

,CustomerID,Firstname,Lastname,Address,City,State,Zip,Email,Length
0,1,Billy,Davis,121 Main St,Prescott,AZ,86305,Bd@dma.net,5
1,2,Betty,Davis,121 Main Street,Prescott,AZ,86305,db2@dma.net,5
2,3,William,Franklin,120 Miller St,Prescott,AZ,86303,wf@dma.net,7
3,4,John,Smith,3331 Main St,prescott,az,86302,js@dma.net,4
4,5,Besty,Watson,121 Main,Prescott,Az,86305,bw@dma.net,5
5,6,Louis,Davis,121 Main Str,Prescott,az,8601,ld@dma.net,5
6,7,Oscar,Swane,333 Main St,Prescott,AZ,86302,os@dma.net,5
7,8,Allen,Lawson,555 Penelope,Prescott,AZ,86305,al@dma.net,5
10,11,Laurie,Wallace,1 Gatsby,Prescott,AZ,86305,lw@dma.net,6
11,12,William,Frank,5 West Smith,Prescutt,AZ,86305,wf@dma.net,9

In [ ]:
data2['Firstname'][2]

'William'

In [ ]:
len(data2['Firstname'][2])

7

In [ ]:
data2['Firstname'][11]

'  William'

In [ ]:
len(data2['Firstname'][11])

9

In [ ]:
# data2['Firstname'] = data2['Firstname'].map(str.strip)
### OR
# data2['Firstname'] = data2['Firstname'].str.strip()
data2.loc[:,'Firstname'] = data2['Firstname'].str.strip()

In [ ]:
data2['Firstname'][2]

'William'

In [ ]:
data2['Firstname'][11]

'William'

In [ ]:
data2

,CustomerID,Firstname,Lastname,Address,City,State,Zip,Email,Length
0,1,Billy,Davis,121 Main St,Prescott,AZ,86305,Bd@dma.net,5
1,2,Betty,Davis,121 Main Street,Prescott,AZ,86305,db2@dma.net,5
2,3,William,Franklin,120 Miller St,Prescott,AZ,86303,wf@dma.net,7
3,4,John,Smith,3331 Main St,prescott,az,86302,js@dma.net,4
4,5,Besty,Watson,121 Main,Prescott,Az,86305,bw@dma.net,5
5,6,Louis,Davis,121 Main Str,Prescott,az,8601,ld@dma.net,5
6,7,Oscar,Swane,333 Main St,Prescott,AZ,86302,os@dma.net,5
7,8,Allen,Lawson,555 Penelope,Prescott,AZ,86305,al@dma.net,5
10,11,Laurie,Wallace,1 Gatsby,Prescott,AZ,86305,lw@dma.net,6
11,12,William,Frank,5 West Smith,Prescutt,AZ,86305,wf@dma.net,9

In [ ]:
data2.loc[:,'Length'] = data2['Firstname'].map(len)

In [ ]:
data2

,CustomerID,Firstname,Lastname,Address,City,State,Zip,Email,Length
0,1,Billy,Davis,121 Main St,Prescott,AZ,86305,Bd@dma.net,5
1,2,Betty,Davis,121 Main Street,Prescott,AZ,86305,db2@dma.net,5
2,3,William,Franklin,120 Miller St,Prescott,AZ,86303,wf@dma.net,7
3,4,John,Smith,3331 Main St,prescott,az,86302,js@dma.net,4
4,5,Besty,Watson,121 Main,Prescott,Az,86305,bw@dma.net,5
5,6,Louis,Davis,121 Main Str,Prescott,az,8601,ld@dma.net,5
6,7,Oscar,Swane,333 Main St,Prescott,AZ,86302,os@dma.net,5
7,8,Allen,Lawson,555 Penelope,Prescott,AZ,86305,al@dma.net,5
10,11,Laurie,Wallace,1 Gatsby,Prescott,AZ,86305,lw@dma.net,6
11,12,William,Frank,5 West Smith,Prescutt,AZ,86305,wf@dma.net,7

In [ ]:
# data2['State'] = data2['State'].str.upper()
data2.loc[:,'State'] = data2['State'].str.upper()

In [ ]:
data2

,CustomerID,Firstname,Lastname,Address,City,State,Zip,Email,Length
0,1,Billy,Davis,121 Main St,Prescott,AZ,86305,Bd@dma.net,5
1,2,Betty,Davis,121 Main Street,Prescott,AZ,86305,db2@dma.net,5
2,3,William,Franklin,120 Miller St,Prescott,AZ,86303,wf@dma.net,7
3,4,John,Smith,3331 Main St,prescott,AZ,86302,js@dma.net,4
4,5,Besty,Watson,121 Main,Prescott,AZ,86305,bw@dma.net,5
5,6,Louis,Davis,121 Main Str,Prescott,AZ,8601,ld@dma.net,5
6,7,Oscar,Swane,333 Main St,Prescott,AZ,86302,os@dma.net,5
7,8,Allen,Lawson,555 Penelope,Prescott,AZ,86305,al@dma.net,5
10,11,Laurie,Wallace,1 Gatsby,Prescott,AZ,86305,lw@dma.net,6
11,12,William,Frank,5 West Smith,Prescutt,AZ,86305,wf@dma.net,7

In [ ]:
data2['Address'].str.contains('121 Main St')

0      True
1      True
2     False
3     False
4     False
5      True
6     False
7     False
10    False
11    False
Name: Address, dtype: bool

In [ ]:
idx = data2['Address'].str.contains('121 Main St')

In [ ]:
data2.loc[idx,'Address'] = '121 Main St'

In [ ]:
data2

,CustomerID,Firstname,Lastname,Address,City,State,Zip,Email,Length
0,1,Billy,Davis,121 Main St,Prescott,AZ,86305,Bd@dma.net,5
1,2,Betty,Davis,121 Main St,Prescott,AZ,86305,db2@dma.net,5
2,3,William,Franklin,120 Miller St,Prescott,AZ,86303,wf@dma.net,7
3,4,John,Smith,3331 Main St,prescott,AZ,86302,js@dma.net,4
4,5,Besty,Watson,121 Main,Prescott,AZ,86305,bw@dma.net,5
5,6,Louis,Davis,121 Main St,Prescott,AZ,8601,ld@dma.net,5
6,7,Oscar,Swane,333 Main St,Prescott,AZ,86302,os@dma.net,5
7,8,Allen,Lawson,555 Penelope,Prescott,AZ,86305,al@dma.net,5
10,11,Laurie,Wallace,1 Gatsby,Prescott,AZ,86305,lw@dma.net,6
11,12,William,Frank,5 West Smith,Prescutt,AZ,86305,wf@dma.net,7

In [ ]:
data2['Address'].value_counts()

Address
121 Main St        3
120 Miller St      1
3331 Main St       1
121 Main           1
333 Main St        1
555 Penelope       1
1 Gatsby           1
   5 West Smith    1
Name: count, dtype: int64

In [ ]:
data3 = pd.read_csv('NeedsWranglingJoin.csv')

In [ ]:
data3.head()

   CustomerID Gender
0           1   Male
1           3   Male
2           4   Male
3           6   Male
4           7   Male

In [ ]:
join_data = pd.merge(data2,data3,on='CustomerID')

In [ ]:
join_data

,CustomerID,Firstname,Lastname,Address,City,State,Zip,Email,Length,Gender
0,1,Billy,Davis,121 Main St,Prescott,AZ,86305,Bd@dma.net,5,Male
1,1,Billy,Davis,121 Main St,Prescott,AZ,86305,Bd@dma.net,5,Male
2,2,Betty,Davis,121 Main St,Prescott,AZ,86305,db2@dma.net,5,Female
3,3,William,Franklin,120 Miller St,Prescott,AZ,86303,wf@dma.net,7,Male
4,4,John,Smith,3331 Main St,prescott,AZ,86302,js@dma.net,4,Male
5,5,Besty,Watson,121 Main,Prescott,AZ,86305,bw@dma.net,5,Female
6,6,Louis,Davis,121 Main St,Prescott,AZ,8601,ld@dma.net,5,Male
7,6,Louis,Davis,121 Main St,Prescott,AZ,8601,ld@dma.net,5,Male
8,7,Oscar,Swane,333 Main St,Prescott,AZ,86302,os@dma.net,5,Male
9,8,Allen,Lawson,555 Penelope,Prescott,AZ,86305,al@dma.net,5,Male
10,11,Laurie,Wallace,1 Gatsby,Prescott,AZ,86305,lw@dma.net,6,Female
11,12,William,Frank,5 West Smith,Prescutt,AZ,86305,wf@dma.net,7,Male

# Assignment Data File
# mk07218 - Muhammad Khubaib
# Data Science HW 2

In [ ]:
#Starting PART 1 of the HW

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('580SurveyCleanup.csv')

In [ ]:
df_1 = df.iloc[:,1:12]

In [ ]:
df_1.columns = df_1.iloc[0]
df_1 = df_1[1:]

In [ ]:
#solving for Q2

dfk = df.iloc[:,[14,15,16,17]]
dfk.columns = dfk.iloc[0].astype(str)
dfk = dfk[1:]
dfk['Male'] = dfk['Male'].replace('1','Male')
dfk['Female'] = dfk['Female'].replace('1','Female')
dfk['NonBinary'] = dfk['NonBinary'].replace('1','NonBinary')
dfk['Prefer not to answer'] = dfk['Prefer not to answer'].replace('1','Prefer not to answer')
dfk = dfk.fillna('')
dfk = pd.DataFrame(dfk.iloc[:,1] + dfk.iloc[:,0]+ dfk.iloc[:,2]+ dfk.iloc[:,3])
dfk.columns = ['Q2']

In [ ]:
#solving for Q8

dft = df.iloc[:,[23,24,25,26]]
dft.columns = dft.iloc[0].astype(str)
dft = dft[1:]
dft['Microsoft/Windows'] = dft['Microsoft/Windows'].replace(['0','1','2'],'Win')
dft['Apple/MacBook'] = dft['Apple/MacBook'].replace(['0','1','2'],'Mac')
dft['Other'] = dft['Other'].replace(['0','1','2'],'Other')
dft = dft.fillna('')
dft = pd.DataFrame(dft.iloc[:,1] + dft.iloc[:,0]+ dft.iloc[:,2]+ dft.iloc[:,3])
dft.columns = ['Q8']

In [ ]:
#solving for Q9

dfq = df.iloc[:,[27,28,29]]
dfq.columns = dfq.iloc[0].astype(str)
dfq = dfq[1:]
dfq['Yes, Full Time'] = dfq['Yes, Full Time'].replace('1','full time')
dfq['Working, but not Full Time'] = dfq['Working, but not Full Time'].replace(['0','1','2'],'part time')
dfq['Not Working while attending Mason'] = dfq['Not Working while attending Mason'].replace(['0','1','2'],'not working')
dfq = dfq.fillna('')
dfq = pd.DataFrame(dfq.iloc[:,1] + dfq.iloc[:,0]+ dfq.iloc[:,2])
dfq.columns = ['Q9']

In [ ]:
#solving for Q10

dfr = df.iloc[:,[30,31,32,33,34]]
dfr.columns = dfr.iloc[0].astype(str)
dfr = dfr[1:]
dfr['Little/none'] = dfr['Little/none'].replace('1','little/none')
dfr['Some familiarity'] = dfr['Some familiarity'].replace('1','some')
dfr['Average user'] = dfr['Average user'].replace('1','average')
dfr['Frequent use for projects'] = dfr['Frequent use for projects'].replace('1','frequent user')
dfr['Fluent/expert'] = dfr['Fluent/expert'].replace('1','expert')
dfr = dfr.fillna('')
dfr = pd.DataFrame(dfr.iloc[:,1] + dfr.iloc[:,0]+ dfr.iloc[:,2]+ dfr.iloc[:,3]+ dfr.iloc[:,4])
dfr.columns = ['Q10']

In [ ]:
#solving for Q11

dfs = df.iloc[:,[35,36,37,38,39]]
dfs.columns = dfs.iloc[0].astype(str)
dfs = dfs[1:]
dfs['Little/none'] = dfs['Little/none'].replace('1','little/none')
dfs['Some familiarity'] = dfs['Some familiarity'].replace('1','some')
dfs['Average user'] = dfs['Average user'].replace('1','average')
dfs['Frequent use for projects'] = dfs['Frequent use for projects'].replace('1','frequent user')
dfs['Fluent/expert'] = dfs['Fluent/expert'].replace('1','expert')
dfs = dfs.fillna('')
dfs = pd.DataFrame(dfs.iloc[:,1] + dfs.iloc[:,0]+ dfs.iloc[:,2]+ dfs.iloc[:,3]+ dfs.iloc[:,4])
dfs.columns = ['Q11']

In [ ]:
#solving for Q12

dfz = df.iloc[:,[40,41,42,43,44]]
dfz.columns = dfz.iloc[0].astype(str)
dfz = dfz[1:]
dfz['Little/none'] = dfz['Little/none'].replace('1','little/none')
dfz['Some familiarity'] = dfz['Some familiarity'].replace('1','some')
dfz['Average user'] = dfz['Average user'].replace('1','average')
dfz['Frequent use for projects'] = dfz['Frequent use for projects'].replace('1','frequent user')
dfz['Fluent/expert'] = dfz['Fluent/expert'].replace('1','expert')
dfz = dfz.fillna('')
dfz = pd.DataFrame(dfz.iloc[:,1] + dfz.iloc[:,0]+ dfz.iloc[:,2]+ dfz.iloc[:,3]+ dfz.iloc[:,4])
dfz.columns = ['Q12']

In [ ]:
df2 = df.iloc[:,[12,13]]

In [ ]:
df2.columns = df2.iloc[0].astype(str)
df2 = df2[1:]

In [ ]:
df3 = df2.loc[:, '2.0':'4.0'].replace(1, pd.Series(df2.columns, df2.columns)).fillna('')

In [ ]:
df4 = pd.DataFrame(df3.iloc[:,0] + df3.iloc[:,1])

In [ ]:
df4.columns = ['Q1']

In [ ]:
df5 = pd.concat([df_1,df4],axis=1)

In [ ]:
#joining everything

dfh = df.iloc[:,[18,19,20,21,22]]
dfh = dfh[1:]
dfc = df.iloc[:,[45]]
dfc = dfc[1:]
dfc = dfc.fillna('')
dfc.columns = ['Q13']

dfy = pd.concat([df5,dfk,dfh,dft,dfq,dfr,dfs,dfz,dfc],axis=1)
dfy
dfy.to_csv('formatted_580SurveyCleanup.csv', index = False)

In [ ]:
#THIS ENDS PART 1 of the HW

In [ ]:
#STARTING PART 2 of the HW

In [ ]:
import numpy as np
data = pd.read_csv('formatted_580SurveyCleanup.csv')
po = data.isnull().sum()

In [ ]:
#Using the above method, we found out that Access code, Email address, Region, City/Town/District, Q4 - Q13 have missing values.

In [ ]:
data = data.drop(['Access Code', 'Email Address'], axis=1)

In [ ]:
#replacing Q4 data with mean

data['Q4'] = data['Q4'].str.replace('O','0')
data['Q4'] = data['Q4'].str.replace('l','1')
data['Q4'] = data['Q4'].str.replace('5.2','52')
data['Q4'].fillna(data['Q4'].mode()[0], inplace=True)

/tmp/ipykernel_161/1323340610.py:5: FutureWarning: The default value of regex will change from True to False in a future version.
  data['Q4'] = data['Q4'].str.replace('5.2','52')

In [ ]:
#solving for Q8, Q9,Q10, Q11,Q12
data['Q8'].fillna(data['Q8'].mode()[0], inplace=True)
data['Q9'].fillna(data['Q9'].mode()[0], inplace=True)
data['Q10'].fillna(data['Q10'].mode()[0], inplace=True)
data['Q11'].fillna(data['Q11'].mode()[0], inplace=True)
data['Q12'].fillna(data['Q12'].mode()[0], inplace=True)

In [ ]:
data['Region'].fillna(data['Region'].mode()[0], inplace=True)
data['City / Town / District'].fillna(data['City / Town / District'].mode()[0], inplace=True)

In [ ]:
data['Q3'] = data['Q3'].replace('1993',2023-1993)
data['Q3'] = data['Q3'].str.replace(' ','')
data['Q3'].fillna(data['Q3'].mode()[0], inplace=True)

In [ ]:
data['Q5'] = data['Q5'].str.title()
data['Q5'] = data['Q5'].str.strip()
data['Q5'] = data['Q5'].replace(['Usa', 'United States', 'United states', 'Us'], 'USA')
data['Q5'] = data['Q5'].replace(['United States ; Pakistan'], 'USA ; Pakistan')
data['Q5'] = data['Q5'].fillna('Not responded', inplace=False)

In [ ]:
data['Q6'] = data['Q6'].str.title()
data['Q6'] = data['Q6'].str.strip()
data['Q6'] = data['Q6'].replace('Economic', 'Economics')
data['Q6'] = data['Q6'].replace(['Cse', 'Computer science engineering ', 'Computer engineering'], 'Computer Science and Engineering')
data['Q6'] = data['Q6'].replace(['Bachelor of engineering ', 'Engineering '], 'Engineering')
data['Q6'] = data['Q6'].replace('Criminology law and soci', 'Criminology law and social sciences')
data['Q6'] = data['Q6'].replace('Bit','Business Information Technology')
data['Q6'] = data['Q6'].replace('Ece', 'ECE')
data['Q6'] = data['Q6'].replace('Yes', np.NaN)
data['Q6'] = data['Q6'].replace('B.tech in cs', 'Computer science')
data['Q6'].fillna(data['Q6'].mode()[0], inplace=True)

In [ ]:
data['Q7'] = data['Q7'].fillna('Not responded', inplace=False)
data['Q8'] = data['Q8'].replace('MacWin', 'Windows and Macbook')
data['Q13'] = data['Q13'].fillna('Not responded', inplace=False)

In [ ]:
data.to_csv('cleaned_580SurveyCleanup.csv', index = False)

In [ ]:
#This marks the end of part 2

In [ ]:
#Starting part 3 of DS HW

In [ ]:
fdata = pd.read_csv('cleaned_580SurveyCleanup.csv')

In [ ]:
#for Q1
print("Count: \n", fdata['Q1'].value_counts())
print("\nMode: \n",fdata['Q1'].mode())
print("\nSummary: ", fdata['Q1'].describe())

#it can be seen that more students are in section 2.0.

Count:
 2.0    20
4.0    16
Name: Q1, dtype: int64

Mode:
 0    2.0
Name: Q1, dtype: float64

Summary:  count    36.000000
mean      2.888889
std       1.007905
min       2.000000
25%       2.000000
50%       2.000000
75%       4.000000
max       4.000000
Name: Q1, dtype: float64

In [ ]:
#for Q2
print("Count: \n", fdata['Q2'].value_counts())
print("\nMode: \n",fdata['Q2'].mode())
print("\nSummary: ", fdata['Q2'].describe())

#It can be seen that there are more males than females in the class. There is one unique value which is the NonBinary one.

Count:
 Male                    18
Female                  16
Prefer not to answer     1
NonBinary                1
Name: Q2, dtype: int64

Mode:
 0    Male
Name: Q2, dtype: object

Summary:  count       36
unique       4
top       Male
freq        18
Name: Q2, dtype: object

In [ ]:
#for Q3
print("Count: \n", fdata['Q3'].value_counts())
print("\nMode: \n",fdata['Q3'].mode())
print("\nMedian: ", fdata['Q3'].median())
print("\nMinimum: ", fdata['Q3'].min())
print("\nMaximum: ", fdata['Q3'].max())
print("\nSummary: ", fdata['Q3'].describe())

#The minimum age is 22 and the maximum age is 55 (this might be wrong but can't be sure). The most common age bracket in the class is from 23-27. The mean is also below 30.

Count:
 23    9
25    6
24    5
26    3
40    2
30    2
22    2
27    2
28    2
31    1
35    1
55    1
Name: Q3, dtype: int64

Mode:
 0    23
Name: Q3, dtype: int64

Median:  25.0

Minimum:  22

Maximum:  55

Summary:  count    36.000000
mean     26.944444
std       6.520055
min      22.000000
25%      23.000000
50%      25.000000
75%      27.250000
max      55.000000
Name: Q3, dtype: float64

In [ ]:
#for Q4
print("Count: \n", fdata['Q4'].value_counts())
print("\nMode: \n",fdata['Q4'].mode())
print("\nMinimum: ", fdata['Q4'].min())
print("\nMaximum: ", fdata['Q4'].max())
print("\nSummary: ", fdata['Q4'].describe())

#The minimum height is 52 inches (which was written as 5.2 initially) and the max height is 77 inches. The mean is 67 inches. The bracket of 60-68 is common.

Count:
 66    6
70    5
67    5
68    3
71    3
72    2
65    1
56    1
64    1
61    1
75    1
63    1
74    1
60    1
59    1
69    1
52    1
73    1
Name: Q4, dtype: int64

Mode:
 0    66
Name: Q4, dtype: int64

Minimum:  52

Maximum:  75

Summary:  count    36.000000
mean     67.027778
std       4.866716
min      52.000000
25%      66.000000
50%      67.000000
75%      70.000000
max      75.000000
Name: Q4, dtype: float64

In [ ]:
#for Q5
print("Count: \n", fdata['Q5'].value_counts())
print("\nMode: \n",fdata['Q5'].mode())
print("\nSummary: ", fdata['Q5'].describe())

#From the data it can be seen that most students in the class are from India, and after that with a difference of only one, 9 students are from USA. Some students have not responded to the question so it may be that USA might have been the most popular had they responded. There are certain unique values such as South Korea, Vietnam, and others. We can say that students from a very diverse background study in this class.

Count:
 India             10
USA                9
Uzbekistan         3
Taiwan             2
Not responded      2
China              2
Nigeria            2
South Korea        1
Pakistan           1
Romania            1
Ethiopia           1
USA ; Pakistan     1
Vietnam            1
Name: Q5, dtype: int64

Mode:
 0    India
Name: Q5, dtype: object

Summary:  count        36
unique       13
top       India
freq         10
Name: Q5, dtype: object

In [ ]:
#for Q6
print("Count: \n", fdata['Q6'].value_counts())
print("\nMode: \n",fdata['Q6'].mode())
print("\nSummary: ", fdata['Q6'].describe())

#From the data it can be seen that most students are from Economics Major. There are a lot of unique values such as Statistics, ECE, and others. Most students are from management and sciences field, while few are from social sciences too. The diverse majors show how data analytics is important everywhere.

Count:
 Economics                           8
Finance                             3
Computer Science                    2
Economics With Finance              2
Bachelor Of Engineering             2
Criminology Law And Soci            1
Bs Accounting                       1
B.Tech In Cs                        1
Quantity Surveying                  1
ECE                                 1
Civil Engineering                   1
Systems Engineering                 1
Mathematics & Statistics            1
Statistics                          1
Accounting And Isom                 1
Engineering                         1
Management                          1
Computer Science and Engineering    1
Biology                             1
Computer Engineering                1
Business Information Technology     1
Business Management                 1
Computer Applications               1
Psychology                          1
Name: Q6, dtype: int64

Mode:
 0    Economics
Name: Q6, dtype: object

Summary:  count            36
unique           24
top       Economics
freq              8
Name: Q6, dtype: object

In [ ]:
#for Q7
print("Count: \n", fdata['Q7'].value_counts())
print("\nMode: \n",fdata['Q7'].mode())
print("\nMinimum: ", fdata['Q7'].min())
print("\nMaximum: ", fdata['Q7'].max())
print("\nSummary: ", fdata['Q7'].describe())

#most students are expected to graduate during 2021 in the month of December. Some students will be graduating in 2022, while only a few graduating in 2023.

Count:
 2021-12-31       3
Not responded    3
2022-05-01       3
2021-12-20       3
2021-12-18       2
2021-12-15       2
2021-05-01       2
2022-05-15       1
2021-12-21       1
2021-12-30       1
2023-05-24       1
2021-12-11       1
2021-05-30       1
2022-12-19       1
2021-05-14       1
2021-01-12       1
2022-04-16       1
2022-05-31       1
2021-12-25       1
2021-08-26       1
2021-05-31       1
2022-07-15       1
2021-01-01       1
2022-06-01       1
2022-12-12       1
Name: Q7, dtype: int64

Mode:
 0       2021-12-20
1       2021-12-31
2       2022-05-01
3    Not responded
Name: Q7, dtype: object

Minimum:  2021-01-01

Maximum:  Not responded

Summary:  count             36
unique            25
top       2021-12-31
freq               3
Name: Q7, dtype: object

In [ ]:
#for Q8
print("Count: \n", fdata['Q8'].value_counts())
print("\nMode: \n",fdata['Q8'].mode())
print("\nSummary: ", fdata['Q8'].describe())

#With the given data, we can say that Windows is the most popular Operating System. Some students are using MacBook while only one (unique) is using Acer.

Count:
 Win                    24
Mac                     8
Windows and Macbook     3
OtherAcer/Windows       1
Name: Q8, dtype: int64

Mode:
 0    Win
Name: Q8, dtype: object

Summary:  count      36
unique      4
top       Win
freq       24
Name: Q8, dtype: object

In [ ]:
#for Q9
print("Count: \n", fdata['Q9'].value_counts())
print("\nMode: \n",fdata['Q9'].mode())
print("\nSummary: ", fdata['Q9'].describe())

#from the given data it can be seen that majority of the students do not work. This might indicate that they come from financially well bachgrounds or might be on scholarships. Some students are working full time while only a few work part time.

Count:
 not working    20
full time      11
part time       5
Name: Q9, dtype: int64

Mode:
 0    not working
Name: Q9, dtype: object

Summary:  count              36
unique              3
top       not working
freq               20
Name: Q9, dtype: object

In [ ]:
#for Q10
print("Count: \n", fdata['Q10'].value_counts())
print("\nMode: \n",fdata['Q10'].mode())
print("\nSummary: ", fdata['Q10'].describe())

#from the given data we can see that most students are average in coding with Python. As a lot of them come from Business background, the response can be undestood. There was no one that was fluent in Python, with only a few that used it a little.

Count:
 average          18
some             12
little/none       4
frequent user     2
Name: Q10, dtype: int64

Mode:
 0    average
Name: Q10, dtype: object

Summary:  count          36
unique          4
top       average
freq           18
Name: Q10, dtype: object

In [ ]:
#for Q11
print("Count: \n", fdata['Q11'].value_counts())
print("\nMode: \n",fdata['Q11'].mode())
print("\nSummary: ", fdata['Q11'].describe())

#From the given data, we can see that we can see that most students are average in coding with R. As a lot of them come from Business background, the response can be undestood. There was is only one (unique) that was fluent in Python, while only some used it little. One insight that can be generated from this is that R might be taught in Business Management courses as a few students used it for their projects.

Count:
 average          12
little/none       8
some              8
frequent user     7
expert            1
Name: Q11, dtype: int64

Mode:
 0    average
Name: Q11, dtype: object

Summary:  count          36
unique          5
top       average
freq           12
Name: Q11, dtype: object

In [ ]:
#for Q12
print("Count: \n", fdata['Q12'].value_counts())
print("\nMode: \n",fdata['Q12'].mode())
print("\nSummary: ", fdata['Q12'].describe())

#from the given data we can see that most students are average in coding with SQL. As a lot of them come from Business background, the response can be undestood as SQL deals with data handling at the backend. There was no one that was fluent in SQL, with only a few that used it a little or for projects.

Count:
 average          18
some             10
little/none       5
frequent user     3
Name: Q12, dtype: int64

Mode:
 0    average
Name: Q12, dtype: object

Summary:  count          36
unique          4
top       average
freq           18
Name: Q12, dtype: object

In [ ]:
#One thing that I found interesting here was that most of the students were unfamiliar/average with programming, with onl a few that had worked with it for projects. The fact that students like these are taking such a course shows the importance of Data Science and how the university has a diverse approach, allowing students to explore.

In [ ]:
#End of PART 3 and HW