In [ ]:
#  MK07218
#  Muhammad Khubaib

In [2]:
import pandas as pd
import numpy as np
from scipy import stats

In [4]:
df = pd.read_csv('EmployeeAttrition.csv')

In [21]:
#Q1

SalFem = df[(df['Gender'] == 'Female')]['MonthlyIncome']
SalMale = df[(df['Gender'] == 'Male')]['MonthlyIncome']
stats.ttest_ind(SalMale, SalFem, alternative='greater')

Ttest_indResult(statistic=-1.2212617308870655, pvalue=0.8889084827245606)

In [11]:
#As the p-value is greater than 0.05 we accept the null hypothesis and reject the alternate hypothesis which states that monthly income of males is less 
#than equal to monthly income of females.

In [25]:
#Q2

FemWorkBal = df[(df['Gender'] == 'Female')]['WorkLifeBalance']
MaleWorkBal = df[(df['Gender'] == 'Male')]['WorkLifeBalance']
stats.ttest_ind(MaleWorkBal, FemWorkBal, alternative='less')

Ttest_indResult(statistic=-0.10546787956064164, pvalue=0.45800948246831286)

In [27]:
#As the p-value is greater than 0.05 we accept the null hypothesis and reject the alternate which states that male's Work-Life-Balance 
#is greater than or equal to the Work-Life-Balance of females

In [29]:
#Q3

Sinyears = df[(df['MaritalStatus'] == 'Single')]['YearsAtCompany']
Maryears = df[(df['MaritalStatus'] == 'Married')]['YearsAtCompany']
stats.ttest_ind(Sinyears, Maryears, alternative='less')

Ttest_indResult(statistic=-2.5589985737464476, pvalue=0.0053127663549315815)

In [31]:
#As the p-value is less than 0.05 we reject the null hypothesis and accept the alternate which states that the years at company of single individual 
#is less than the years at company of married individual

In [33]:
#Q4

AtNo = df[(df['Attrition'] == 'No')]['EnvironmentSatisfaction']
AtYes = df[(df['Attrition'] == 'Yes')]['EnvironmentSatisfaction']
stats.ttest_ind(AtYes, AtNo, alternative='less')

Ttest_indResult(statistic=-3.9818600026818496, pvalue=3.58616927468443e-05)

In [36]:
#As the p-value is less than 0.05 we will now reject the null hypothesis and accept the alternate which states that the 
#environmental-satisfaction where "Attrition" is equal to Yes is less than the environmental-satisfaction where "Attrition" is equal to No

In [40]:
#Q5

labinc = df[(df['JobRole'] == 'Laboratory Technician')]['MonthlyIncome']
maninc = df[(df['JobRole'] == 'Manager')]['MonthlyIncome']
stats.ttest_ind(maninc, labinc, alternative='greater')

Ttest_indResult(statistic=76.03317414634023, pvalue=9.971168334368433e-224)

In [42]:
#As the p-value is less than 0.05 we will reject the null hypothesis and accept the alternate which states that the monthly income of Managers
#is greater than the monthly income of Lab technicians

In [50]:
#Q6

chisqt = pd.crosstab(df['Department'],df['Gender'], margins=True)
value = np.array([chisqt.iloc[0][0:].values, chisqt.iloc[1][0:].values])
chi2, p, dof, ex = stats.chi2_contingency(value)
p

0.47927963769548776

In [ ]:
#As the p-value is greater than 0.05 we accept the null hypothesis and can say that there is no association between Department and Gender.